<%= form_for(@elearn_semester, :url => [:elearn , @elearn_semester]) do |f| %>
  <% if @elearn_semester.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@elearn_semester.errors.count, "error") %> prohibited this elearn_semester from being saved:</h2>

      <ul>
      <% @elearn_semester.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="panel panel-primary">
      <div class="panel-heading">Semester Details</div>
      <div class="panel-body">
          <form role="form">
            <div class="form-group">
              <label for="exampleInputEmail1">Name</label>
              <%= f.text_field :name , class: "form-control" , placeholder: "Name"%>                  
            </div>
<!--             <div class="form-group">
              <label for="exampleInputPassword1">Activated</label>
              <%= f.check_box :activated %>
              
            </div> -->
            <%= f.submit  :class => "btn btn-ar btn-primary"%>                
          </form>
      </div>
  </div> <!-- panel panel-primary -->
<% end %>
