
<header class="main-header">
    <div class="container">
        <h1 class="page-title">Semesters</h1>

    <% if current_user &&  current_user.has_role?(["lecturer", "admin"]) %>
        <%= link_to 'Add Semester', new_elearn_semester_path, :class => "btn btn-danger pull-right" %>
    <% end %>
        
    </div>
</header>

<div class="container">

  <div class="panel panel-default">
      <div class="panel-heading">
        Available Semesters
      </div>
      <div class="panel-body">
          
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>User</th>      
                <th>Activated</th>
                <th width="20%"></th>
              </tr>
            </thead>

            <tbody>
              <% @elearn_semesters.each_with_index do |elearn_semester , index| %>
                <tr>
                  <td><%= index + 1%></td>
                  <td><%= elearn_semester.name %></td>
                  <td><%= elearn_semester.user.name %></td>
                  <td>
                    <% if elearn_semester.activated %>
                      <button disabled="disabled" class="btn disabled btn-success">Activated</button>
                    <% else %>
                        <%= link_to elearn_semester_activate_path(elearn_semester) , :method => "PATCH" , :class => " btn btn-primary" do %>Activate<% end %>
                    <% end %>
                  </td>
                  <td>
                    <div class="btn-group">                      
                      <%= link_to 'Edit-تعديل', edit_elearn_semester_path(elearn_semester) , class: "btn btn-success" %>
                      <%= link_to 'Destroy', [:elearn ,elearn_semester], method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-success" %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

      </div>
      <div class="panel-footer">
        <section class="text-center">
           <%= paginate @elearn_semesters%>
            
        </section>
      </div> <!-- row -->
      
  </div>
  

</div>