
<header class="main-header">
    <div class="container">
        <h1 class="page-title">New Semester</h1>      
    </div>
</header>

<div class="container">
  <section class="css-section">
    <h2 class="section-title no-margin-top">Add New Learning Semester</h2>
    <%= render "form"%>
  </section>


</div>


