<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @elearn_semester.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @elearn_semester.user %>
</p>

<p>
  <strong>Status:</strong>
  <%= @elearn_semester.status %>
</p>

<p>
  <strong>Activated:</strong>
  <%= @elearn_semester.activated %>
</p>

<%= link_to 'Edit-تعديل', edit_elearn_semester_path(@elearn_semester) %> |
<%= link_to 'Back-رجوع', elearn_semesters_path %>
