<%= form_for(@line , :url => poem_stanza_line_path(@poem, @stanza , @line) , :class => "form-horizontal") do |f| %>
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title modal-header" id="myModalLabel"><h3 class="pull-right">Add Line for <%= @poem.title %></h3></h4>
  </div>
  <div class="modal-body">
    
      <% if @line.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@line.errors.count, "error") %> prohibited this line from being saved:</h2>

          <ul>
          <% @line.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="controls">
        <label>Line Text </label>
        <%= f.text_field :text , class: "form-control" , :dir => "rtl" %>
      </div>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-ar btn-default" data-dismiss="modal">Close</button>    
    <%= f.submit :class => "btn btn-ar btn-primary" %>
  </div>
</div>
    <% end %>