
  <div class="row">
    <div class="span6">
      <%= form_for(@line , :url => poem_stanza_line_path(@poem, @stanza , @line) , :class => "form-horizontal") do |f| %>
        <% if @line.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@line.errors.count, "error") %> prohibited this line from being saved:</h2>

            <ul>
            <% @line.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="controls">
          <%= f.label :text %>
          <%= f.text_field :text , class: "span6" , :dir => "rtl" %>
        </div>

        <div class="row submit">                        
            <div class="span3 right">
                <%= f.submit "Save" , :class => "btn btn-succcess" %>
            </div>
        </div>
      
      <% end %>
    </div>
  </div>



