
<!-- SideBar -->
<div class="">
    <center><h3>Detail Information</h3></center>    


    <% if @word_references.images.length > 0 %>
        <div class="box box2">
            <div class="sidebar_header">
                <center><h4>صورة</h4></center>
            </div>
            
            <% @word_references.images.each do |word_ref| %>                                        
            <ul class="thumbnails">
                <li class="span4">
                <%= image_tag word_ref.media_url, :class=>"thumbnails", :style=>"width: 260px; "  %><br>
                <center><p><%= word_ref.word %> : <%= word_ref.description %></p></center>
                </li>
                <% end %>  
            </ul>           
        </div>
    <% end %>



    <% if @word_references.videos.length > 0 %>
        <div class="box box2">
            <div class="sidebar_header">
                <center><h4>فيديو</h4></center>
            </div>
            <% @word_references.videos.each do |word_ref| %>
                <div class="recent">
                    <span>
                        <%= video_tag word_ref.media_url ,:size => "320x240", :controls => true  %>
                    </span>
                    <center><p><%= word_ref.word %> : <%= word_ref.description %></p></center>
                </div>                        
            <% end %>            
        </div>
    <% end %>

    <% if @word_references.grammars.length > 0 %>
        <div class="box box2">
            <div class="sidebar_header">
                <center><h4>الإعراب</h4></center>
            </div>
                       
            <table class="table table-condensed table-bordered" dir="rtl" >                    
                <% @word_references.grammars.each do |word_ref| %>
                    <tr>
                     
                        <td><%= word_ref.word %> </td><td ><span dir="rtl" style="float:right;"> <%= word_ref.description %></span></td>
                    </tr>
                <% end %>                        
            </table>            
        </div>
    <% end %>
    <% if @word_references.words.length > 0 %>
        <div class="box last">
            <div class="sidebar_header">
                <center><h4>المفردات</h4></center>
            </div>            
            <table class="table table-condensed table-bordered" dir="rtl" >                    
                <% @word_references.words.each do |word_ref| %>
                    <tr>
                       
                        <td><%= word_ref.word %> </td><td ><span dir="rtl" style="float:right;"> <%= word_ref.description %></span></td>
                    </tr>
                <% end %>                        
            </table>

        </div>
    <%end %>
</div>
