<%= form_for(@word_ref , :url => poem_stanza_line_word_references_path(@poem,@stanza,@line), :class => "form-horizontal") do |f| %>
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title modal-header" id="myModalLabel"><h3 class="pull-right" dir="">Add Fahras for <%= @word_ref.word %></h3></h4>
  </div>
  <div class="modal-body">
    
      <% if @word_ref.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@word_ref.errors.count, "error") %> prohibited this word_ref from being saved:</h2>

          <ul>
          <center><% @word_ref.errors.full_messages.each do |message| %>
            <li><%= message %></li></center>
          <% end %>
          </ul>
        </div>
      <% end %>


    <%= f.hidden_field :poem_id %>
    <%= f.hidden_field :stanza_id %>
    <%= f.hidden_field :line_id %>
    <%= f.hidden_field :word_indexes %>

    <div class="controls">
      <p class="text text-warning">Word:</p>
      <label class="radio">     
        <%= f.text_field :word ,:class => "form-control", :dir => "rtl" , :readonly => true%>         
      </label>
    </div>    

    <div id="word_file" class="controls hidden" > 
      <p class="text text-warning" dir="rtl" lang="ar"></p>     
      <label class="radio">     
        <%= f.file_field :media , :class => "form-control", :dir => "rtl", :lang =>"ar"%>         
      </label>
    </div> 
    
    <div id="word_content" class="controls hidden">
      <p class="text text-warning" dir="rtl" lang="ar"></p>
      <label class="radio">      
        <%= f.text_field :description , :class=> "form-control", :dir => "rtl", :lang =>"ar"%>         
      </label>
    </div>   
  
    <div class="">      
      <h5 class="">Type of Fahras:</h5>
      <div class="">
        <% WordReference::REF_TYPES.each do |key, value | %>          
          <span class="form-control" dir="rtl">
          <%= value[1] %>                                     
          <%= f.radio_button :reference_type, key , :required => true , "data-type" => value[0] ,"data-text" => value[1], :class=> "reference_type_radio" , :dir => "rtl "%> 
          </span>     
        <% end %>      
      
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-ar btn-default" data-dismiss="modal">Close</button>    
    <%= f.submit "Add" , :class => "btn btn-warning"%>
  </div>
</div>
<% end %>



<%= javascript_include_tag 'word-reference' %>



