
  <div class="contain">
    <div class="row form"  >
      <div class="navbar">
        <div class="navbar-inner">
          <div class="navbar-form pull-right">
          

              <%= form_for(@poem) do |f| %>
                <% if @poem.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@poem.errors.count, "error") %> prohibited this poem from being saved:</h2>

                    <ul>
                    <% @poem.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
                
                <b><%= f.label :voice %></b>
                <%= f.file_field :audio %>                         
                
                <br>
                <div class="actions">
                    <%= f.submit "Add", :class => "btn"%>
                </div>
            

                        
            <% end %>
        </div>
      </div>
    </div>
  </div>


