<%= form_for(@poem) do |f| %>
  <% if @poem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poem.errors.count, "error") %> prohibited this Poem from being saved:</h2>

      <ul>
      <% @poem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="panel panel-primary">
      <div class="panel-heading">Poem Details</div>
      <div class="panel-body">
          <form role="form" dir="rtl" lang="ar">

            <div class="form-group">

            <h5>* Please make sure the author already added in the poet section.</h5>

              <label for="">Author</label>
              <%= f.collection_select :poet_id, Poet.all,:id,:name, {include_blank: true },  {:required => true , :class=>"form-control" , :dir => "rtl", :lang =>"ar"}%> 
            </div>
            
            <div class="form-group">
              <label for="">Title</label>
              <%= f.text_field :title , class: "form-control" , placeholder: "", required: true , :dir => "rtl", :lang =>"ar"%>                  
            </div>
            <div class="form-group">
              <label for="">Audio</label>
              <%= f.file_field :audio %>  
              
            </div>
            <%= f.submit "Next" ,:class => "btn btn-ar btn-primary" %> 
            <%= link_to 'Cancel', poems_path, :class => "btn btn-danger" %>                 
          </form>
      </div>
  </div> <!-- panel panel-primary -->
<% end %>



