<aside class="sidebar">       
        
    <% if @poem.word_references.videos.length > 0 %>
        <div class="panel panel-primary animated fadeInDown animation-delay-8">                
            <div class="panel-heading" dir="rtl" lang="ar"><i class="fa fa-play-circle"></i>فيديو : <%= word_ref.word %> </div>
                <% @poem.word_references.videos.each do |word_ref| %>
                    <%= link_to word_reference_path(word_ref) ,  method: :delete, data: { confirm: 'Are you sure?' } do %> 
                        <i class="fa fa-times" aria-hidden="true"></i>
                    <% end %>
            
                    <div class="video">
                        <%= video_tag word_ref.media_url ,:size => "320x240", :controls => true  %>
                    </div>
                <% end %>            
            </div>
        </div>
    <% end %>
    <% if @poem.word_references.images.length > 0 %>  
     <div class="panel panel-primary animated fadeInDown animation-delay-6">
        <div class="panel-heading" dir="rtl" lang="ar"><i class="fa fa-image"></i> صورة</div>
        <div class="panel-body">
            <ul class="comments-sidebar">

            <% @poem.word_references.images.each do |word_ref| %>              
                <li>
                    <%= link_to word_reference_path(word_ref) ,  method: :delete, data: { confirm: 'Are you sure?' } do %> 
                        <i class="fa fa-times" aria-hidden="true"></i>
                    <% end %>
            
                     <%= image_tag word_ref.media_url, :class=>"img-responsive"  %>
                    
                    <h4><%= word_ref.word %></h4>
                    <p><%= word_ref.description %></p>
                </li>          
            <% end %>    
            </ul>             
        </div>
    </div>
    <% end %>

</aside>

