
<header class="main-header">
    <div class="container">
        <h1 class="page-title">Edit Poem</h1>      
    </div>
</header>

<div class="container" dir="rtl">
  <section class="css-section">
    <h2 class="section-title no-margin-top">Edit Poem Details</h2>
    <%= render "form"%>
  </section>
    
    <!--<div class="text-right">
      <%= link_to 'Show Details', @poem , :class => "btn btn-primary"%>
      <%= link_to 'Back Main', poems_path , :class => "btn btn-primary"%>
    </div>-->
    <br>
</div>