
<header class="main-header">
    <div class="container">
        <h1 class="page-title">Poems</h1>

    <% if current_user &&  current_user.has_role?(["lecturer", "admin"]) %>
        <%= link_to 'Add Poem', new_poem_path, :class => "btn btn-danger pull-right" %>
    <% end %>
        
    </div>
</header>

<div class="container">

  <div class="panel panel-default">
      <div class="panel-heading" dir="rtl" style="padding-right: 550px"><h3>
        Listing Poems
      </h3></div>
      <div class="panel-body">
          
          <table class="table table-stripped" dir="rtl">
            <thead>
              <tr >
                <th><span class="pull-right">#</span></th>
                <th><span class="pull-right">Title</span></th>
                <th><span class="pull-right">Poet</span></th>      
                <th><span class="pull-right">Poem</span></th>
                <th width="20%"></th>
              </tr>
            </thead>

            <tbody>
              <% @poems.each_with_index do |poem , index| %>
                <tr>
                  <td><%= index + 1%></td>
                  <td>
                    <%= link_to poem , :class => "" do %>
                      <%= poem.title %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to poem.poet , :class => "" do %>
                      <%= poem.poet.name %>
                    <% end %>
                  </td>
                  <td>
                    <%= poem.poem_text %>
                  </td>
                  <td>
                    <div class="btn-group">
                    <% if current_user && current_user.has_role?(["admin", "lecturer"])%>
                        <%= link_to  "Details" , poem , :class => "btn btn-success" %>
                        <% if current_user &&  current_user.has_role?(["lecturer", "admin"]) %>
                            <%= link_to 'Edit-تعديل', edit_poem_path(poem) , :class => "btn btn-warning" %>
                            <%= link_to 'Delete', poem, method: :delete, data: { confirm: 'Are you sure?' } , :class => "btn btn-danger" %>
                        <% end %>
                    <% end %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

      </div>
      <div class="panel-footer">
        <section class="text-center">
           
        </section>
      </div> <!-- row -->
      
      
  </div>
  

</div>