<header class="main-header">
    <div class="container">
        <h1 class="page-title">Poem Details</h1>
        <div class="pull-right">
          <% if current_user &&  current_user.has_role?(["lecturer", "admin"]) %>
            <%= link_to 'Edit-تعديل', edit_poem_path(@poem) , :class => "btn btn-success" %>
          <% end %>
          <%= link_to 'Back-رجوع', poems_path, :class => "btn btn-danger" %>          
        </div>

        <!--<ol class="breadcrumb pull-right">
            <li><a href="#">Main</a></li>
            <li class="">Poem</li>
            <li class="active"><%= @poem.title %></li>
        </ol>-->
    </div>
</header>
<div class="container">
    <div class="row">
        
        <!-- <div class="col-md-4">
            <aside class="sidebar">
              <% #render "poems/sidebar" %>              
            </aside> 
        </div> -->
        <div class="col-md-12">


            <h2 class="page-header no-margin-top" dir="rtl">
              <div class="pull-left "><%= (audio_tag @poem.audio, :controls => true) if @poem.audio_url %></div>
              <%= @poem.title%>
            </h2>
            <%= image_tag(@poem.avatar_url) if @poem.avatar? %><br>     
            <%= form_for @poem , :url => "#" do %>                  
              <%= hidden_field_tag "poem[word]"%>
              <%= hidden_field_tag "poem[word_indexes]" %>
              <% @poem.stanzas.each do | stanza | %>            
              <div class=" stanza">
                                                    
                  <div class="poem-stanza-lines" data-id="<%= stanza.id %>">
                    <table class="table table-striped" >     
                    <% stanza.lines.each_with_index do | line , index|%>
                      
                        <tr>
                          <td>                                   
                              <div class=''
                                data-line-id="<%= line.id %>"  
                                data-poem-id="<%= @poem.id %>"  
                                data-stanza-id="<%= stanza.id %>"  
                                style="font-size:20px;  text-align: center; margin-right:5px; cursor:pointer;" 
                                    data-toggle="tooltip" data-placement="left" 
                                  title="Left click and drag from left to right to add Fahras"
                                >
                                  <% line.splitted_text.each_with_index do | word ,index|  %>                               
                                    <span class="<%= current_user && current_user.has_role?(["admin", "lecturer"]) ? "poem-stanza-line-word" : "poem-stanza-line-info" %> " data-word-index="<%= index %>" style="paddig-right:10px"
                                  >
                                      &nbsp; <%= word %>&nbsp; 
                                    </span>  
                                  <% end %>                                          
                              </div>
                              <br>
                              <% if line.line_references.length > 0 %>
                              <div>

                                <ul class="nav nav-tabs nav-tabs-ar nav-tabs-ar-white">
                                    <% line.line_references.order(:reference_type).each_with_index do | line_ref , index_j |%>
                                      <li class="<%= 'active' if index_j == 0 %>">
                                        <a href="#tab<%= "#{index}#{index_j}"%>" data-toggle="tab" aria-expanded="false">
                                        <%= line_ref.reference_type_text %></a>
                                      </li>                                    
                                    <% end %>
                                    <% if @poem.word_references.grammars.length > 0 %>
                                      <li >
                                        <a href="#tabgrammer<%= "#{index}"%>" data-toggle="tab" aria-expanded="false">
                                        الإعراب</a>
                                      </li>                                    
                                    <% end %>
                                    <% if @poem.word_references.words.length > 0 %>
                                      <li >
                                        <a href="#tabwords<%= "#{index}"%>" data-toggle="tab" aria-expanded="false">
                                        المفردات</a>
                                      </li>                                    
                                    <% end %>
                                    <% if @poem.word_references.word_translations.length > 0 %>
                                    <li >
                                      <a href="#tabword_trans<%= "#{index}"%>" data-toggle="tab" aria-expanded="false">
                                      Word Translation</a>
                                    </li>                                    
                                  <% end %>
                                </ul>
                                <div class="tab-content">
                                  <% line.line_references.order(:reference_type).each_with_index do | line_ref , index_j |%> 
                                    
                                      <div class="tab-pane <%= 'active' if index_j == 0 %>" id="tab<%= "#{index}#{index_j}"%>">
                                        <% if line_ref.reference_type == 4 %>
                                            <%= audio_tag line_ref.media , :controls => true , width: "100%" %>
                                        <% elsif line_ref.reference_type == 5   %>
                                            <%= image_tag line_ref.media , width: "100%"%>
                                        <% elsif line_ref.reference_type == 6 %>
                                            <%= video_tag line_ref.media , controls: true , width: "100%" %>
                                        <% else %>  
                                          <%= raw line_ref.content %>                                            
                                        <% end %>
                                        <div>
                                        <%= link_to "Delete" , poem_stanza_line_line_reference_path( @poem , stanza,line, line_ref) , method: "delete" , :class=>"btn btn-danger btn-xs pull-right"%>
                                        <%= link_to 'Edit-تعديل', 
                                        edit_poem_stanza_line_line_reference_path(@poem , stanza,line , line_ref),
                                        :class => "modal-submit btn btn-success btn-xs pull-right", "data-header" => "Edit Line Reference" %>                          
                                        </div>
                                      </div>                                      
                                    
                                  <% end %>
                                  <% if @poem.word_references.with_line(line.id).grammars.length > 0 %>
                                        <div class="tab-pane" id="tabgrammer<%= "#{index}"%>" dir="rtl" lang="ar">
                                          <table class="table table-condensed" dir="rtl" >                    
                                              <% @poem.word_references.with_line(line.id).grammars.each do |word_ref| %>                                                 
                                                  <tr>                                               
                                                      <% if current_user.has_role?(["admin","lecturer"])%>
                                                        <td><%= link_to word_reference_path(word_ref) ,  method: :delete, data: { confirm: 'Are you sure?' } do %> 
                                                            <i class="fa fa-times" aria-hidden="true"></i>
                                                            <% end %>
                                                        </td>
                                                      <% end %>       
                                                      <td><%= word_ref.word %> </td><td ><span dir="rtl" style="float:right;"> <%= word_ref.description %></span></td>
                                                  </tr>
                                              <% end %>                        
                                          </table>            
                                            
                                        </div>                                        
                                      <% end %>
                                      <% if @poem.word_references.with_line(line.id).words.length > 0 %>
                                        <div class="tab-pane" id="tabwords<%= "#{index}"%>" dir="rtl" lang="ar">
                                          <table class="table table-condensed" dir="rtl" >                    
                                              <% @poem.word_references.with_line(line.id).words.each do |word_ref| %>
                                                  <tr>                
                                                      <% if current_user.has_role?(["admin","lecturer"])%>
                                                        <td><%= link_to word_reference_path(word_ref) ,  method: :delete, data: { confirm: 'Are you sure?' } do %> 
                                                            <i class="fa fa-times" aria-hidden="true"></i>
                                                            <% end %>
                                                        </td>
                                                      <% end %>                                             
                                                      <td><%= word_ref.word %> </td>
                                                      <td><span dir="rtl" style="float:right;"> <%= word_ref.description %></span></td>
                                                  </tr>
                                              <% end %>                        
                                          </table>            
                                            
                                        </div>                                        
                                      <% end %>
                                       <% if @poem.word_references.with_line(line.id).word_translations.length > 0 %>
                                        <div class="tab-pane" id="tabword_trans<%= "#{index}"%>" dir="rtl" lang="ar">
                                          <table class="table table-condensed" dir="rtl" >                    
                                              <% @poem.word_references.with_line(line.id).word_translations.each do |word_ref| %>
                                                  <tr>                
                                                      <% if current_user.has_role?(["admin","lecturer"])%>
                                                        <td><%= link_to word_reference_path(word_ref) ,  method: :delete, data: { confirm: 'Are you sure?' } do %> 
                                                            <i class="fa fa-times" aria-hidden="true"></i>
                                                            <% end %>
                                                        </td>
                                                      <% end %>                                             
                                                      <td><%= word_ref.word %> </td>
                                                      <td><span dir="" style="float:left;"> <%= word_ref.description %></span></td>
                                                  </tr>
                                              <% end %>                        
                                          </table>            
                                            
                                        </div>                                        
                                      <% end %>


                                </div>
                              </div>
                              <% end %>                              
                          </td>

                          <% if current_user.has_role?(["admin","lecturer"])%>
                            <td class="">
                              <div class="pull-left">
                                <div class="btn-group">

                                  <button class="btn btn-xs dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                  </button>
                                  <ul class="dropdown-menu">
                                    <li>
                                      <%= link_to 'Edit Line', 
                                        edit_poem_stanza_line_path(@poem , stanza,line),
                                        :class => "modal-submit" %>
                                    </li>
                                    <li>
                                      <%= link_to "Add Line Details" , new_poem_stanza_line_line_reference_path(@poem, stanza, line) , 
                                        :class => " modal-submit" , 
                                        "data-header" => "Add Line To #{@poem.title}"%>                       
                                    </li> 
                                    <li>                                                                  
                                      <%= link_to 'Delete Line', 
                                        poem_stanza_line_path(@poem , stanza,line), method: :delete, 
                                        data: { confirm: 'Are you sure?' } , 
                                        :class => "" %>                          

                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </td>
                          <% end %>
                        </tr>                                       
                    <% end %>

                        <tr>
                          <td>
                            <div class="">                          
                                <div class="btn-group" dir="ltr">
                                  <% if current_user.has_role?(["admin","lecturer"])%>
                                      <%= link_to "Add Line" , new_poem_stanza_line_path(@poem, stanza) , 
                                          :class => " modal-submit btn btn-primary btn-xs" , 
                                          "data-header" => "Add Line To #{@poem.title}"%>                            
                                  <% end %>
                                </div>
                                
                            </div>    
                          </td>
                          <td>

                          </td>
                        </tr>   
                    </table>
                  </div><br>
                    
                </div><br>
              <% end %>
            <% end %>                
          
        </div>
    </div>
</div>
<% content_for :header do %> 
  <%= javascript_include_tag 'poem' %>
<% end %>



