
<div id="blog_post">
  <div class="container" dir="rtl">
    <div class="span4">
          <%= render "poems/sidebar" %>
        </div>
      <div class="section_header">          
          <h1 > <%= @poem.title %></h1>
          <div class="poem_general">
            <div class="author"><%= link_to "#{@poem.poet.name}" , poet_path(@poem.poet),:class=> "" %></div>                      


            <div class="">
              <% @poem.description.html_safe %>
            </div>
          </div>
      </div>

      
      

      <hr>
      <div class="row">
        
        <div class="span8 pull-right">

          <div class="post_content">                
              <%= image_tag(@poem.avatar_url) if @poem.avatar? %><br>     
              <%= form_for @poem , :url => "#" do %>  
                <%= hidden_field_tag "poem[word_index]"%>
                <%= hidden_field_tag "poem[word]"%>
                <% @poem.stanzas.each do | stanza | %>

                
                  <div class="well stanza">
                    
                    <div class="poem-stanza-lines" data-id="<%= stanza.id %>">
                      <% stanza.lines.each do | line|%>
                        <div class="poem-stanza-line" data-id="<%= line.id %>" >

                          <div class=" " >
                            
                            <span  style="font-size:20px;  text-align: center; margin-right:50px; ">
                              <% line.splitted_text.each_with_index do | word ,index|  %>                               
                                <%= link_to poem_stanza_line_word_references_find_path(@poem, stanza,line , :word_index => index)  , "data-word-index" => index , :class => "poem-stanza-line-word" do %>
                                  <%= word %>              
                                <% end %>
                              <% end %>
                            </span>

                          </div>
                        </div>

                      <% end %>
                    </div><br>
                      
                  </div><br>
                <% end %>
              <% end %>
  
          </div>    
        </div>
          
    </div>  
  </div>
</div>

<% content_for :header do %>
  <%= stylesheet_link_tag 'blogpost' %>
  <%= javascript_include_tag 'poem-info' %>
<% end %>


