<%= form_for(@poet) do |f| %>
  <% if @poet.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@poet.errors.count, "error") %> prohibited this poet from being saved:</h2>

    <ul>
    <% @poet.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
  <% end %>


  <div class="panel panel-primary">
      <div class="panel-heading">Poet Details</div>
      <div class="panel-body">
          <form role="form">
            <div class="form-group">
              <label for="exampleInputEmail1">Name</label>
              <%= f.text_field :name , class: "form-control" , placeholder: "", required: true, :dir => "rtl", :lang =>"ar"%>                  
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Content</label>
              <%= f.cktext_area :biography , class: "form-control" , placeholder: "Content", required: true%>
              
            </div>

            <div class="form-group">
              <label for="exampleInputPassword1">Audio</label>
              <%= f.file_field :media %>  
              
            </div>
            <%= f.submit "Save" , :class => "btn btn-ar btn-primary" %> 
            <%= link_to 'Cancel', poets_path, :class => "btn btn-danger" %>               
          </form>
      </div>
  </div> <!-- panel panel-primary -->
<% end %>

