
<header class="main-header">
    <div class="container">
        <h1 class="page-title">Edit Poet</h1>      
    </div>
</header>

<div class="container" dir="rtl">
  <section class="css-section">
    
    <%= render "form"%>
  </section>

  <!--<div class="text-right"> 
  <%= link_to 'Show Detail', @poet , :class => "btn btn-primary" %> 
  <%= link_to 'Back-رجوع', poets_path, :class => "btn btn-primary" %>
  </div>-->
<br></br>
</div>



