
<header class="main-header">
    <div class="container">
        <h1 class="page-title">Poets-شعراء</h1>

    <% if current_user &&  current_user.has_role?(["lecturer", "admin"]) %>
        <%= link_to 'Add Poet', new_poet_path, :class => "btn btn-danger pull-right" %>
    <% end %>
        
    </div>
</header>

<div class="container">

  <div class="panel panel-default">
      <div class="panel-heading" dir="rtl" style="padding-right: 550px"><h3>
        Listing Poets
      </h3></div>
      <div class="panel-body">
          
          <table class="table table-stripped" dir="rtl">
            <thead>
              <tr>
                <th><span class="pull-right">#</span></th>
                <th><span class="pull-right">Name</span></th>                                
                <th width="20%"></th>
              </tr>
            </thead>

            <tbody>
              <% @poets.each_with_index do |poet , index| %>
                <tr>
                  <td><%= index + 1%></td>
                  <td><%= link_to poet, :class => "" do %>
                    <%= poet.name %>
                    <% end %>
                  </td>
                  <td>
                  
                    <div class="btn-group" >
                      <%= link_to "Details" , poet , :class => "btn btn-success" %>
                      <%= link_to 'Edit-تعديل', edit_poet_path(poet), :class => "btn btn-warning" %>
                      <%= link_to 'Delete', poet, method: :delete, data: { confirm: 'Are you sure?' },  :class => "btn btn-danger" %>
                      <br>
                    </div>
                  
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

      </div>
       <div class="panel-footer">
        <section class="text-center">
           <%= paginate @poets%>            
        </section>
      </div> <!-- row -->
      
  </div>
  

</div>

