
 <header class="main-header">
    <div class="container">
        <h1 class="page-title">Poet Details</h1>  
        <div class="pull-right">
        <% if current_user && current_user.has_role?(["admin", "lecturer"])%>
          <%= link_to 'Edit-تعديل', edit_poet_path(@poet), :class => "btn btn-ar btn-success" %> 
          <%= link_to 'Back-رجوع', poets_path, :class => "btn btn-danger" %>
        <% end %></div>
    
    </div>
</header>

<div class="container">


<div class="row">
  <div class="col-md-12">
    <h2 style="" class="pull-right" dir="rtl" lang="ar">
      <div class="pull-left "><%= (audio_tag @poet.media, :controls => true) if @poet.media_url %></div>
     <%= @poet.name %>
    </h2>
    
  </div>
</div>
  <div class="row">
    <div class="col-md-12">
      <div style="padding-left: 15%; " dir="rtl" lang="ar">
        
        <div class="well">
          <%= @poet.biography.html_safe %>
        </div>
      </div>
    </div>
  </div>
    
<!-- 
  <p style="padding-left: 15%">
    <i class="icon-list-alt"></i><strong>Poems:</strong>
    <ul style="padding-left: 20%">
      <% @poet.poems.each do | p |  %>
        <li><%= link_to p.poem_text , p %></li>
      <% end %>
    </ul>
  </p>
-->
  
</div>


