
<header class="main-header">
    <div class="container">
        <h1 class="page-title">Create Account in E-Diwan</h1>

        <!--<ol class="breadcrumb pull-right">
            <li><a href="#">Home-صفحة رئيسة</a></li>
            <li class="active">Sign Up</li>
        </ol>-->
    </div>
</header>

<div class="container">
    <div class="center-block logig-form">
        <div class="panel panel-primary">
            <div class="panel-heading">Create Account</div>
            <div class="panel-body">




                 <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <%= devise_error_messages! %>


                    <div class="form-group">
                        <div class="input-group login-input">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                             <%= f.email_field :email, autofocus: true , :placeholder => "Email" , :class => "form-control"%>
                        </div>
                        <br>
                        <div class="input-group login-input">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                             <%= f.password_field :password, autocomplete: "off"  , :placeholder => "Password" , :class => "form-control"%>
                        </div>
                        <br>
                         <div class="input-group login-input">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                             <%= f.password_field :password_confirmation, autocomplete: "off" , :placeholder => "Password Confirmation" , :class => "form-control"%>
                        </div>


                        <hr class="dotted margin-10">
                          <%= f.submit "Sign Up" , :class => "btn btn-ar btn-primary pull-right"%>

                          <%= render "devise/shared/links" %>
                            <!-- <a href="#" class="btn btn-ar btn-warning">Password Recovery</a> -->
                        <div class="clearfix"></div>

                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div> <!-- container  -->
