
<div class="modal-content">
  <% if @word_references.length > 0 %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    
      <div  dir="rtl"> 
        <h4 class="modal-title modal-header" id="myModalLabel" >
        <%= @word_references[0].word %>    
        </h4>
        <table class="table">
          <tr>
            
            <td>
              <p><%= @word_references[0].poem.title %></p>
            </td>
            <td>
              <span class="pull-left">
                Poem
              </span>
            </td>
        </tr>
        <tr>
          
          <td>
            <p><%= @word_references[0].line.text %></p>
          </td>
          <td>
            <span class="pull-left">
              Poem line
            </span>
          </td>
        </tr>
        </table>
      </div>
      
    
  </div>
  <div class="modal-body">



    <ul class="nav nav-tabs nav-tabs-ar nav-tabs-ar-white">
     <% @word_reference_titles.each_with_index do | word , index| %>
      <li class="<%= 'active' if index == 0 %>">
        <a href="#tab<%= "#{index}"%>" data-toggle="tab" aria-expanded="false">
        <%= word.type_title %></a>
      </li>
      <% end %>
    </ul>
    <div class="tab-content">
      <% @word_reference_titles.each_with_index do | word_ref , index| %>

          <div class="tab-pane <%= 'active' if index == 0 %>" id="tab<%= "#{index}"%>">

            <% if word_ref.media_type == "video" %>
              <%= video_tag word_ref.media_url %>
            <% elsif word_ref.media_type == "image" %>
              <%= image_tag word_ref.media_url %>
            <% else %>


              <table class="table table-condensed table-bordered" dir="rtl">
                <% @word_references.select{ |item| item.reference_type == word_ref.reference_type }.each do | word |%>

                    <tr>

                      <td style="text-align:right" width="20%">
                        <%= word.word %>
                      </td>
                      <td style="text-align:right">
                        <%= word.description %>
                      </td>

                    </tr>

                <% end %>
              </table>
            <% end %>
          </div>
      <%end %>
    </div>
  </div>
<% end %>
  <div class="modal-footer">
    <button type="button" class="btn btn-ar btn-default" data-dismiss="modal">Close</button>
  </div>
</div>
