<header class="main-header">
    <div class="container">
        <h1 class="page-title">Glossary-مصطلحات</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">Main</a></li>
            <li class="active">Glossary-مصطلحات</li>
        </ol>
    </div>
</header>
<div class="container">
<div class="row">
 <div class="col-md-12">
    <div>
      <div class="block animated fadeInDown animation-delay-12">
         <%= form_for :query,  :url => glossary_path , :method => "get" do %>
          <div class="input-group">

            <input type="text" name="query" class="form-control" placeholder="Search" dir="rtl" lang="ar" value="<%= params[:query]%>"/>
            <span class="input-group-btn">
              <button class="btn btn-ar btn-primary" type="submit"><i class="fa fa-search no-margin-right"></i></button>
            </span>
          </div><!-- /input-group -->
          <% end %>
      </div>
    </div>
    <div>
      <table class="table" dir="rtl" lang="ar">
          <thead>
              <tr>
                  <th><span class="pull-right">#</span></th>
                  <th><span class="pull-right">Poem</span></th>
                  <th width="70%"><span class="pull-right">Word</span></th>

              </tr>
          </thead>
          <tbody>
            <% @words.each_with_index do | word , index| %>

              <tr>
                <td><a href="#" class="glossary_word word-" data-word="<%= word.word%>" data-line-id="<%=word.line_id%>"><%= index+1 %></a></td>
                <td><a href="#" class="" style="color:black;"><%= word.poem.title%></a></td>
                <td width="20%"><a href="#" class="glossary_word word-" data-word="<%= word.word%>" data-line-id="<%=word.line_id%>"><%= word.word%></a></td>

              </tr>

            <% end %>
          </tbody>
      </table>
    </div>
    <div class="pagination">
      <%= paginate @words %>
    </div>
 </div>
  <!-- <div class="col-md-4">
      <div class="e-price">$ <span>1698</span>.98</div>
         <a href="#" class="btn btn-ar btn-block btn-success"><i class="fa fa-shopping-cart"></i> Checkout</a>
         <h3 class="right-line">Related Products</h3>
         <div class="ec-box">
             <div class="ec-box-header"><a href="#">Bq Aquaris 5 16GB White</a></div>
             <a href="#"><img src="assets/img/demo/e_img03.jpg" alt=""></a>
             <div class="ec-box-footer">
                 <span class="label label-primary">$ 249.99</span>
                 <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
             </div>
         </div>
     </div> -->
 </div>
</div>

  <%= javascript_include_tag 'glossary' %>
