
<%= form_for(@line_ref , :url => poem_stanza_line_line_reference_path(@poem,@stanza,@line, @line_ref), :class => "form-horizontal") do |f| %>
  <% if @line_ref.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@line_ref.errors.count, "error") %> prohibited this line_ref from being saved:</h2>

      <ul>
      <center><% @line_ref.errors.full_messages.each do |message| %>
        <li><%= message %></li></center>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :line_id %>
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 >Edit-تعديل </h3>
      
      <h4 class="pull-right" dir="rtl" lang="ar">
        <%= @line_ref.line.text %>
        
      </h4>
    </div>
    <div class="modal-body">
      
      <div class="">      
        <h5 class="" dir="rtl" lang="ar">
          <%= LineReference::REF_TYPES[@line_ref.reference_type][1] %>                  
          </h5>
      </div>
      
      <div id="line_content" class="controls ">
        <p class="text text-warning" dir="rtl" lang="ar"></p>
        <label class="radio">      
          <%= f.cktext_area :content , :dir => "rtl" , :class=>"form-control"%>         
        </label>
      </div>  

      <div id="line_file" class="controls hidden"> 
        <p class="text text-warning" dir="rtl" lang="ar"></p>     
        <label class="radio">     
          <%= f.file_field :media , :class=>"form-control" %>         
        </label>
      </div>  
      
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-ar btn-default" data-dismiss="modal">Close</button>    
    <%= f.submit "Save" , :class => "btn btn-ar btn-primary" %>
  </div>
</div>


<% end %>

<%= javascript_include_tag 'word-reference' %>