
<%= form_for(@line_ref , :url => poem_stanza_line_line_references_path(@poem,@stanza,@line), :class => "form-horizontal") do |f| %>
  <% if @line_ref.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@line_ref.errors.count, "error") %> prohibited this line_ref from being saved:</h2>

      <ul>
      <center><% @line_ref.errors.full_messages.each do |message| %>
        <li><%= message %></li></center>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :line_id %>
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title modal-header" id="myModalLabel"><h3 class="">Add Line Details for</h3></h4>
      <h3 class="pull-right"> <%= @line.text %></h3>
    </div>
    <div class="modal-body">
      
      <div class="">      
        <h5 class="">Type of Details:</h5>
        <div class="">       
          <% LineReference::REF_TYPES.each do |key, value | %>
            <span class="form-control" dir="rtl">
              <%= f.radio_button :reference_type, key ,
               :required => true , "data-type" => value[0] , "data-text" => value[1],  :class=> "line_reference_type_radio"%> 
              <%= value[1] %>                    
            </span>
            
          <% end %>      
        
        </div>
      </div>
      
      <div id="line_content" class="controls hidden">
        <p class="text text-warning" dir="rtl" lang="ar"></p>
        <label class="radio">      
          <%= f.cktext_area :content , :dir => "rtl" , :class=>"form-control"%>         
        </label>
      </div>  

      <div id="line_file" class="controls hidden"> 
        <p class="text text-warning" dir="rtl" lang="ar"></p>     
        <label class="radio">     
          <%= f.file_field :media , :class=>"form-control" %>         
        </label>
      </div>  
      
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-ar btn-default" data-dismiss="modal">Close</button>    
    <%= f.submit "Save" , :class => "btn btn-ar btn-primary" %>
  </div>
</div>


<% end %>

<%= javascript_include_tag 'word-reference' %>