<%= form_for poem , :url => "#" do %>  
  <%= hidden_field_tag "poem[word_index]"%>
  <%= hidden_field_tag "poem[word]"%>
  <% poem.stanzas.each do | stanza | %>

  
    <div class="well stanza">
      <div class="btn-group btn-group-vertical pull-right">                        
        <%= link_to "Add Line" , new_poem_stanza_line_path(poem, stanza) , 
          :class => " btn btn-success pull-right modal-submit" , 
          "data-header" => "Add Line To #{@poem.title}"%>                       

        
        <%= link_to 'Delete Stanza', poem_stanza_path(poem , stanza), method: :delete, 
          data: { confirm: 'Are you sure?' } , 
          :class => "btn btn-danger " %>
        
        
      </div>

      <div class="poem-stanza-lines" data-id="<%= stanza.id %>">
        <% stanza.lines.each do | line|%>
          <div class="poem-stanza-line" data-id="<%= line.id %>" >
            <%= link_to 'X', 
            poem_stanza_line_path(poem , stanza,line), method: :delete, 
            data: { confirm: 'Are you sure?' } , 
            :class => "btn btn-danger " %>
          
            <% line.splitted_text.each_with_index do | word ,index|  %>                               
              <%= link_to new_poem_stanza_line_word_reference_path(poem, stanza,line)  , "data-word-index" => index , :class => "poem-stanza-line-word" do %>
                <%= word %>              
              <% end %>
            <% end %>

          </div>

        <% end %>
      </div><br>
        
    </div><br>
  <% end %>
<% end %>


<% content_for :header do %>
  <%= javascript_include_tag 'poem' %>
<% end %>


