<section>
    <div id="comments_section">
    <% if @comments %>
        <ul class="list-unstyled">
            <% @comments.each do |comment | %>
            <li class="comment">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <%= comment.comment %>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-lg-10 col-md-9 col-sm-8">
                                <i class="fa fa-user"> </i>
                                <% if comment.user%>
                                  <% if comment.user.name%>
                                  <%= comment.user.name%>
                                  <% else%>
                                    <%= comment.user.email%>
                                  <%end%>
                                  <%end%>             
                                 <i class="fa fa-clock-o"></i> <%= comment.created_at%>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-4">
                            <% if current_user.has_role?(["admin"])%>
                                <%= link_to elearn_lesson_comment_path(@lesson, comment) , :method => "delete" , data: { confirm: 'Are you sure?' }  , :class => " pull-right" do %>Delete<% end %>
                            <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <% end %>
        </ul>

    <% end %>

    </div>
</section> <!-- comments -->
