
<section class="comment-form">
    
    <%= form_for @comment , :url => [:elearn, @lesson , @comment] do | f |%>
        <div class="form-group">
            <label for="inputMessage">Message</label>
            <%= f.text_area :comment , :rows => "3" ,:dir => "rtl" , :placeholder => "Leave a Comment", :class => "form-control" %>                            
        </div>
        <button type="submit" class="btn btn-ar pull-right btn-success">Submit</button>
        <% end %>
</section> <!-- comment-form -->
