<header class="main-header">
    <div class="container">
        <h1 class="page-title">Resend Reset Password Email from E-Diwan</h1>

        <!--<ol class="breadcrumb pull-right">
            <li><a href="#">Home-صفحة رئيسة</a></li>
            <li class="active">Sign Up</li>
        </ol>-->
    </div>
</header>

<div class="container">
    <div class="center-block logig-form">
        <div class="panel panel-primary">
            <div class="panel-heading">Forgot your password?</div>
            <div class="panel-body">




              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                <%= devise_error_messages! %>


                    <div class="form-group">
                        <div class="input-group login-input">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                             <%= f.email_field :email, autofocus: true , :placeholder => "Email" , :class => "form-control", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)%>
                        </div>
                        <br>

                        <hr class="dotted margin-10">

                          <%= f.submit "Send me reset password instructions" , :class => "btn btn-ar btn-primary "%>
                          <br>
                          <%= render "devise/shared/links" %>
                            <!-- <a href="#" class="btn btn-ar btn-warning">Password Recovery</a> -->
                        <div class="clearfix"></div>

                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div> <!-- container  -->
