<div class="wrap-primary-plan">
        <div class="wrap-pointers">
            <div class="container">
                <div id="primary-plan">
                    <!-- <img src="../assets/img/logo_big_white.png" alt="" class="aligncenter head-full-logo animated bounceIn animation-delay-5"> -->
                    <br><br><h1 class="animated fadeInDown animation-delay-3">
                    تعلم الشعر العربي للجميع
                    <br /> Now everyone can learn Arabic Poetry</h1>
                    <p class="lead lead-lg animated fadeInDown animation-delay-1">
                        مهمتنا أن نقدم أفضل تطبيق في تعليم الشعر العربي لكافة المستويات من المبتدئ وحتى المتقدم
                        <br />
                        Our mission is to provide the best platform to learn arabic poetry at any level, from beginner to advance level</p>
                </div>
                <!-- <div id="subscribe-plan" class="animated bounceInLeft animation-delay-9">
                    <p class="lead lead-lg">Subscribe to be notified of updates-اشترك لاستلام مستجدات</p>
                    <div class="input-group">
                      <input type="email" class="form-control" placeholder="Subscribe email...">
                      <span class="input-group-btn">
                        <button class="btn btn-plan" type="button">Subscribe-اشتراك</button>
                      </span>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="content-box box-primary content-box-trans animated fadeInUp animation-delay-5">
                            <%= image_tag("poem(1).png" , :width => "103px")%>
                            <h5 class="content-box-title">أشعار - Poems</h5>
                            <p> مجموعة الأشعار العربية عبر العصور على حسب أسماء الشعراء<br>Compilation of Arabic poems in any century that grouped by each poets</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="content-box box-primary content-box-trans animated fadeInUp animation-delay-8" , style="padding-top: 25px">
                            <%= image_tag("poet.png" , :width => "85px")%>
                            <h5 class="content-box-title">شعراء - Poets</h5>
                            <p> قائمة إعلام الشعراء عبر العصور <br>Line up of famous poets over centuries and origin</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="content-box box-primary content-box-trans animated fadeInUp animation-delay-8">
                            <%= image_tag("video.png" , :width => "100px")%>
                            <h5 class="content-box-title">فيديو - Video</h5>
                            <p> تعبير بعض الأشعار إلى صورة الفيديو<br>Translated of some poems into understandable video</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="content-box box-primary content-box-trans animated fadeInUp animation-delay-5">
                           <%= image_tag("audio.png" , :width => "100px")%>
                            <h5 class="content-box-title">صوت - Audio</h5>
                            <p>االنطق الصحيح للكلمات المذكورة في الأشعار <br>
                                The right pronunciation provided for each words in the poems </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>