
          <div class="row contact">
              <%= form_for(@stanza , :url => poem_stanza_index_path(@poem, @stanza)) do |f| %>
                <% if @stanza.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@stanza.errors.count, "error") %> prohibited this stanza from being saved:</h2>

                    <ul>
                    <% @stanza.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
 
                <div class="row submit">                        
                    <div class="span3 right">
                        <%= f.submit %>
                    </div>
                </div>
              
              <% end %>

          </div>



