
 <div id="contact">
    <div class="container">
        <div class="section_header">
            <h3>New Stanza</h3>
        </div>
        <%= render 'form' %>
        <div class="pull-right">
          <%= link_to 'رجوع-Back', poems_path , :class => "btn btn-primary"%>
        </div>
    </div>
  </div>


<% content_for :header do %>
  <%= stylesheet_link_tag 'contact' %>
<% end %>


