
<nav class="navbar navbar-default navbar-header-full yamm navbar-static-top" role="navigation" id="header">
    <div class="container">

    
        <div class="row">
            <div style="position:relative" class="col-md-offset-6">
                <%= render :partial => "layouts/artificial/notice"%>
            </div>
        </div>

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <a id="ar-brand" class="navbar-brand hidden-lg hidden-md hidden-sm navbar-dark" href="<%= root_path%>">E-<span>Diwan</span></a>
        </div> <!-- navbar-header -->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                
                <li><%= link_to "صفحة رئيسة " , home_path%></li>                                             
                
                <% if devise_controller? || controller_name == "home" %>

                <% if current_user %>
                    <li><%= link_to "دروس", elearn_lessons_path%></li>                    
                <% else %>
                    <li><%= link_to "دروس", lessons_preview_path%></li>                    
                <% end %>

                    <!--<li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Lessons</a>
                        <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                          
                          <% if current_user %>
                            <li><%= link_to "Lessons (All)", elearn_lessons_path%></li>                    
                          <% else %>
                            <li><%= link_to "Lessons  (Preview) ", lessons_preview_path%></li>                    
                          <% end %>
                        </ul>                         
                    </li>-->

                    <% if current_user %>
                        <li><%= link_to "LOG OUT" , destroy_user_session_path , :method => :delete%></li> 
                    <% else %>
                        <li><%= link_to "SIGN IN" , new_user_session_path%></li>
                        <li><%= link_to "REGISTER" , new_user_registration_path%></li>   
                    <% end %>
                <% else %>   

                    <li><%= link_to "دروس", elearn_lessons_path%></li>

                    <!--<li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">LESSONS</a>
                        <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                          <li><%= link_to "LESSONS-دروس", elearn_lessons_path%></li>
                          <li><%= link_to "SEMESTERS", elearn_semesters_path%></li>                      
                        </ul>-->
                    </li>                         
                    <li><%= link_to "مصطلحات", glossary_path %></li> 
                    <% if current_user.has_role?(["admin", "lecturer"])%>                     
                    <li class="dropdown">
                      <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">البيانات</a>
                        <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                        <li><%= link_to "شعراء", poets_path %></li> 
                        <li><%= link_to "أشعار", poems_path%></li>                                                
                      </ul>
                    </li>
                    <% end %>                              
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                          <%= current_user.email %>
                        </a>
                        <ul class="dropdown-menu">
                            <% if current_user.has_role?(["admin"])%>                     
                                <li><%= link_to "MANAGE SYSTEM USER", admin_users_path %></li>                         
                                <li><%= link_to "SEMESTERS", elearn_semesters_path%></li>
                            <% end %>                          
                          <li><%= link_to "ACCOUNT" , account_path %></li> 
                          <li><%= link_to "LOG OUT" , destroy_user_session_path , :method => :delete%></li> 
                        </ul>
                    </li>      
                                 
                <% end %>                 
            
               
             </ul>
        </div><!-- navbar-collapse -->
    <!-- container -->

</nav>

