
  <% if flash[:error]%>    
    <div id="alert" class="alert alert-danger" >
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>    
      <%= flash[:error]%>
    </div>
        
  <% end %>
  <% if flash[:notice]  %>    
    <div id="alert" class="alert alert-success" >
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>    
      <%= flash[:notice]%>
    </div>
        
  <% end %>
  <% if flash[:alert] %>    
    <div id="alert" class="alert alert-warning " >
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>          
      <%= flash[:alert]%>
    </div>
        
  <% end %>
