 <%= form_for(resource, as: resource_name, url: session_path(resource_name) , :role => "form")  do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
        <div class="input-group login-input">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
             <%= f.email_field :email, autofocus: true , :placeholder => "Email" , :class => "form-control"%>
        </div>
        <br>
        <div class="input-group login-input">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
             <%= f.password_field :password, autocomplete: "off"  , :placeholder => "Password" , :class => "form-control"%>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="checkbox_remember">
            <label for="checkbox_remember">Remember me</label>
        </div>


        <!-- <a href="#" class="social-icon-ar sm twitter animated fadeInDown animation-delay-2"><i class="fa fa-twitter"></i></a>
        <a href="#" class="social-icon-ar sm google-plus animated fadeInDown animation-delay-3"><i class="fa fa-google-plus"></i></a>
        <a href="#" class="social-icon-ar sm facebook animated fadeInDown animation-delay-4"><i class="fa fa-facebook"></i></a> -->
        <hr class="dotted margin-10">
            <%= f.submit "Login" , :class => "btn btn-ar btn-primary pull-right" %>
          <%= render "devise/shared/links" %>

            <!-- <a href="#" class="btn btn-ar btn-warning">Password Recovery</a> -->
        <div class="clearfix"></div>
    </div>
<% end %>
