
<header class="main-header">
    <div class="container">
        <h1 class="page-title">Login To E-Diwan</h1>

        <!--<ol class="breadcrumb pull-right">
            <li><a href="#">Home-صفحة رئيسة</a></li>
            <li class="active">Login</li>
        </ol>-->
    </div>
</header>

<div class="container">
    <div class="center-block logig-form">
        <div class="panel panel-primary">
            <div class="panel-heading">Login</div>
            <div class="panel-body">
               <%= render "login_form"%>
               
            </div>
        </div>
    </div>
</div> <!-- container  -->
