
<!DOCTYPE html>
<html>
  <head>

        <style>
        div.container {

            width: 100%;
            padding: 1em;

        }

        header{

            color: white;
            background-color: #444444;
            text-align: center;
            font-size: 20px;
        }
        footer{
          color: white;
          background-color: #444444;
          text-align: center;
          padding: 1em;
        }
        .center{
          text-align: center;
        }
        button{
          background-color: #f6dc00;
          color: black;
          border-radius: 12px;
          text-align: center;
          text-decoration: none;
          font-size: 13px;
          padding: 10px 20px;
          cursor: pointer;
          border: none;
        }
        .headerTable{
          margin-left: 24%;
        }


      </style>
  </head>
  <body>

      <div class="container">
      <header>
        <table class="headerTable">
          <tr>
          <td style="padding:5px;">
            <span><%= image_tag attachments['logo.png'].url, width: "70" %></span>
          </td>
          <td >
            <h2>E-DIWAN</h2>
            </td>
         </tr>
       </table>
      </header>

         <div class="center">
           <br>
            <h2>Hi <%= @user.email %>!</h2>

            <p>Your account has been approved.</p>
            <p>Please <%= link_to "Log in" , new_user_session_path %> to enjoy our services</p>
            <p>Thank you!</p>
            <br><br><br>
        </div>

        <footer class="center">
            <p>&copy; 2017 <span style="color:#f6dc00">E-Diwan</span>, inc. All rights reserved.</p>
        </footer>
      </div>

  </body>
</html>
