
<header class="main-header">
    <div class="container">
        <h1 class="page-title">Account</h1>      
    </div>
</header>

<div class="container">
<section class="css-section">
  <h2 class="section-title no-margin-top">Account Settings</h2>
<%= form_for(@user , :url => ["account", "update"]) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


      <div class="panel panel-primary">
          <div class="panel-heading">Account Details</div>
          <div class="panel-body">
              <form role="form">
                <div class="form-group">
                  <label for="exampleInputEmail1">Name</label>
                  <%= f.text_field :name , class: "form-control" , placeholder: "Name"%>                  
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Email</label>
                  <%= f.text_field :email , class: "form-control" , placeholder: "Email"%>
                  
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <%= f.password_field :password , class: "form-control" , placeholder: "Password"%>
                  
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password Confirmation</label>
                  <%= f.password_field :password_confirmation , class: "form-control" , placeholder: "Password Confirmation"%>
                  
                </div>
                <%= f.submit "Save" , :class => "btn btn-ar btn-primary"%>
                <!--<%= link_to 'Cancel', elearn_lessons_path, :class => "btn btn-danger" %>-->                 
              </form>
          </div>
      </div> <!-- panel panel-primary -->
    <% end %>
  </section>


</div>


