.alert {
  position:absolute; 
  top: -1px; 
  left: 0px; 
  width: 100%;
  height:50px;
  z-index:9999; 
  border-radius:0px;
  opacity: 0.8;

}

.post .post-title a {
    color: #b19e03;
    text-decoration: none;
}