<html>
  <head>

        <style>
        div.container {

            width: 100%;
            padding: 1em;

        }

        header{

            color: white;
            background-color: #444444;
            text-align: center;
            font-size: 20px;
        }
        footer{
          color: white;
          background-color: #444444;
          text-align: center;
          padding: 1em;
        }
        .center{
          text-align: center;
        }
        button{
          background-color: #f6dc00;
          color: black;
          border-radius: 12px;
          text-align: center;
          text-decoration: none;
          font-size: 13px;
          padding: 10px 20px;
          cursor: pointer;
          border: none;
        }
        .headerTable{
          margin-left: 28%;
        }


      </style>
  </head>
  <body>

      <div class="container">
      <header>
        <table class="headerTable">
          <tr>
          <td style="padding:5px;">
            <span><%= image_tag attachments['logo.png'].url, width: "70" %></span>
          </td>
          <td >
            <h2>E-DIWAN</h2>
            </td>
         </tr>
       </table>
      </header>

         <div class="center">
           <br>
           <h2>Hello <%= @resource.email %>!</h2>

           <p>Someone has requested a link to change your password. You can do this through the button below.</p>

           <p><%= link_to '<button><strong>Change my password</strong></button>'.html_safe, edit_password_url(@resource, reset_password_token: @token) %></p>

           <p>If you didn't request this, please ignore this email.</p>
           <p>Your password won't change until you access the link above and create a new one.</p>
            <br>
            
        </div>

      <footer class="center">
          <p>&copy; 2017 <span style="color:#f6dc00">E-Diwan</span>, inc. All rights reserved.</p>
      </footer>
      </div>

  </body>
</html>
