
<%= form_for(@user , :url => [:admin, @user]) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="panel panel-primary">
      <div class="panel-heading">User Details</div>
      <div class="panel-body">
          
            <div class="form-group">
              <label for="exampleInputEmail1">Name</label>
              <%= f.text_field :name , class: "form-control" , placeholder: "Name"%>                  
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <%= f.email_field :email , class: "form-control" , placeholder: "Password"%>                  
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Password</label>
              <%= f.password_field :password , class: "form-control" , placeholder: "Password"%>                  
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Roles</label>
              <%= f.collection_select :roles, User::ROLES,:first,:last, {include_blank: false },  {:required => true, :multiple => true , :class=> "form-control"}%> 
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Status</label>
                <%= f.collection_select :status_id, User::STATUSES ,:first,:last,{},  {:required => true,:class=> "form-control"}%> 
            </div>
            
            <%= f.submit "Save", :class => "btn btn-ar btn-primary"%> 
            <%= link_to 'Cancel', admin_users_path, :class => "btn btn-danger" %> 

          
      </div>
  </div> <!-- panel panel-primary -->
<% end %>
