
<header class="main-header">
    <div class="container">
        <h1 class="page-title">Edit User</h1>      
    </div>
</header>

<div class="container">
  <section class="css-section">
    
    <%= render "form"%>
  </section>

</div>


