
<header class="main-header">
    <div class="container">
        <h1 class="page-title">Users</h1>

    <% if current_user &&  current_user.has_role?(["admin"]) %>
        <%= link_to 'Add User', new_admin_user_path, :class => "btn btn-danger pull-right" %>
        
    <% end %>
        
    </div>
</header>

<div class="container">

  <div class="panel panel-default">
      <div class="panel-heading">
        Available Users
      </div>
      <div class="panel-body">
          
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Approved</th>
                <th width="30%"></th>
              </tr>
            </thead>

            <tbody>
             <% @users.each_with_index do |user , index| %>
                <tr>
                  <td><%= index + 1%></td>
                  <td><%= user.name %></td>
                  <td><%= user.email %></td>
                  <td><%= user.role_names %></td>
                  <td>
                    <% if user.approved%>
                    Yes
                    <%else%>
                    No
                    <%end%>
                  </td>
                  <td>
                    <div class="btn-group">                        
                      <% if user.approved %>
                        <!-- <button disabled="disabled" class="btn disabled btn-success">Approved</button> -->
                        <% if user != current_user%>
                              <%= link_to admin_user_disapprove_path(user) , :method => "PATCH" , :class => " btn btn-success" do %>Disapprove<% end %>
                        <% end %>
                      <% else %>
                          <%= link_to admin_user_approve_path(user) , :method => "PATCH" , :class => " btn btn-primary" do %>Approve<% end %>
                      <% end %>
                      <% link_to 'Show', [:admin, user] , :class => "btn btn-warning" %>
                      <%= link_to 'Edit-تعديل', edit_admin_user_path(user) , :class => "btn btn-warning" %>
                      <% link_to 'Delete', [:admin, user], method: :delete, data: { confirm: 'Are you sure?' }  , :class => "btn btn-warning"%>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

      </div>
      <div class="panel-footer">
        <section class="text-center">
          <%= paginate @users %>     
        </section>
      </div> <!-- row -->
      
      
  </div>
</div>
  
