<header class="main-header">
    <div class="container">
        <h1 class="page-title">User Details</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">Main</a></li>
            <li class="active">User Details</li>
        </ol>
    </div>
</header>
<div class="container">

    <p>
      <strong>Name: </strong>
      <%= @user.name %>
    </p>

    <p>
      <strong>Email: </strong>
      <%= @user.email %>
    </p>
    <p>
      <strong>Roles: </strong>
      <%= @user.role_names %>
    </p>

    <div class="btn-group">
      <%= link_to 'Edit-تعديل', edit_admin_user_path(@user) , class: "btn btn-warning" %> 
      <%= link_to 'Back-رجوع', admin_users_path , class: "btn btn-warning"%>
    </div>
    <br> <br> 
</div>

