
  <%= form_for([:elearn,@lesson], :class=>"form-inline" ) do |f| %>
    <% if @lesson.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

        <ul>
        <% @lesson.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>



    <div class="panel panel-primary">
        <div class="panel-heading">Lesson Details</div>
        <div class="panel-body">
            
              <div class="form-group">
                <label for="exampleInputEmail1">Title *</label>
                <%= f.text_field :title , class: "form-control" , placeholder: "Title" , required: true , :dir => "rtl" , :lang => "ar"%>                  
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Lesson Name *</label>
                <%= f.text_field :name , class: "form-control" , placeholder: "Lesson Name", required: true%>                  
              </div>            
              <hr class="dotted">
              <div class="form-group">
                <label for="exampleInputPassword1">Content (If not Poem or Poet)</label>
                <%= f.cktext_area :content , :class => "form-control" %>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Poem</label>
                <%= f.collection_select :poem_id, Poem.all,:id,:title, { :include_blank => "Select poem"} , {:class => "form-control"}%>       
              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">Lines</label>
                <%= f.collection_select :line_ids, @lesson.lines,:id,:text, {} , {:class => "form-control"  , multiple: true}%>       
              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">Poet</label>
                <%= f.collection_select :poet_id, Poet.all,:id,:name, { prompt: "Select Poet" } , { :class => "form-control"}%>       
              </div>
              <hr class="dotted">
              <div class="form-group">
                <label for="exampleInputPassword1">Status</label>
                  <%= f.collection_select :status, Lesson::STATUSES,:first,:last, {}, { :class => "form-control"} %> 
              </div>
              <%= f.submit "Save", :class  => "btn btn-ar btn-primary"%>                
              <%= link_to 'Cancel', elearn_lessons_path, :class => "btn btn-danger" %>
        </div>
    </div> <!-- panel panel-primary -->

  <% end %>

<% content_for :header do %> 
  <%= javascript_include_tag 'poem' %>
<% end %>


