<div class="panel panel-primary">
    <div class="panel-heading"><i class="fa fa-comments"></i> Poet</div>
    <div class="panel-body">
        <% if @lesson.poet %>
          
          <div><center><h3><%= @lesson.poet.name%></h3></center></div>
          <div class="pull-left "><%= (audio_tag @lesson.poet.media, :controls => true) if @lesson.poet.media_url %></div>
          <div class="readmore" dir="rtl" >
            <%= @lesson.poet.biography.html_safe%>
          </div>  
        
        <% end %>
    </div>
</div>