<section>

    <!-- <img src="assets/img/demo/7.jpg" class="img-responsive imageborder" alt="Image"> -->
    <% if @lesson.poem %>
      <h2 class="page-header no-margin-top" >
        <div class="row">
          <div class="col-md-6"><%= (audio_tag @lesson.poem.audio, :controls => true) if @lesson.poem.audio_url %>    
          </div>
          <div class="col-md-6" dir="rtl">
            <%= @lesson.poem.title%>
          </div>
        </div>
      </h2>
    
      <% @lesson.poem.stanzas.each do | stanza | %>
          <% if @lesson.lines.length > 0 %>
            <% lines = @lesson.lines %>
          <% else %>
            <% lines = stanza.lines %>
          <% end %>
          <div class=" stanza">              
                          
            <div class="poem-stanza-lines" data-id="<%= stanza.id %>">
              <table class="table table-striped" >     
              <% lines.each_with_index do | line , index|%>
                
                  <tr>
                    <td>                                   
                        <div class='<%= "poem-stanza" %>' 
                          data-line-id="<%= line.id %>"  
                          data-poem-id="<%= @lesson.poem.id %>"  
                          data-stanza-id="<%= stanza.id %>"  
                          style="font-size:20px;  text-align: center; " >                                                                  
                            <% line.splitted_text.each_with_index do | word ,index|  %> 
                              <% if line.word_references.word_indexes_filtered(index).count > 0  %>                              
                                <span class="<%= current_user ? "poem-stanza-line-word" : "poem-stanza-line-info" %>  word-" data-word-index="<%= index %>" 

                                  style="color:green;  cursor:pointer;"
                                  >
                                  <%= word %>              
                                </span>  
                              <% else %>
                                <span data-word-index="<%= index %>">
                                  <%= word %>              
                                </span>  
                              <% end %>
                            <% end %>     

                        </div>
                        <% if line.line_references.length > 0 %>
                            <div class="pull-right" style="margin-top:-27px">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%=index%>" aria-expanded="false" class="collapsed">
                                  <i class="fa fa-chevron-left" aria-hidden="true"></i>
                              </a>                          
                            </div>                            
                        
                              <div id="collapse<%=index%>" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                  <div>
                                    <ul class="nav nav-tabs nav-tabs-ar nav-tabs-ar-white">
                                      <% line.line_references.order(:reference_type).each_with_index do | line_ref , index_j |%>
                                        <li class="<%= 'active' if index_j == 0 %>">
                                          <a href="#tab<%= "#{index}#{index_j}"%>" data-toggle="tab" aria-expanded="false">
                                          <%= line_ref.reference_type_text %></a>
                                        </li>                                    
                                      <% end %>
                                      <% if @lesson.poem.word_references.with_line(line.id).grammars.length > 0 %>
                                        <li >
                                          <a href="#tabgrammer<%= "#{index}"%>" data-toggle="tab" aria-expanded="false">
                                          الإعراب</a>
                                        </li>                                    
                                      <% end %>
                                      <% if @lesson.poem.word_references.with_line(line.id).words.length > 0 %>
                                        <li >
                                          <a href="#tabwords<%= "#{index}"%>" data-toggle="tab" aria-expanded="false">
                                          المفردات</a>
                                        </li>                                    
                                      <% end %>
                                    </ul>
                                    <div class="tab-content">
                                      <% line.line_references.order(:reference_type).each_with_index do | line_ref , index_j |%> 
                                        
                                          <div class="tab-pane <%= 'active' if index_j == 0 %>" id="tab<%= "#{index}#{index_j}"%>" dir="rtl" lang="ar">
                                            <% if line_ref.reference_type == 4 %>
                                              <%= audio_tag line_ref.media , :controls => true%>
                                            <% elsif line_ref.reference_type == 5  %>
                                              <%= image_tag line_ref.media , width: "100%" %>
                                            <% elsif line_ref.reference_type == 6 %>
                                              <%= video_tag line_ref.media , controls: true , width: "100%" %>
                                            <% else %>  
                                              <%= raw line_ref.content %>                                            
                                            <% end %>                                        
                                          </div>                                      
                                        
                                      <% end %>
                                      <% if @lesson.poem.word_references.with_line(line.id).grammars.length > 0 %>
                                        <div class="tab-pane" id="tabgrammer<%= "#{index}"%>" dir="rtl" lang="ar">
                                          <table class="table table-condensed" dir="rtl" >                    
                                              <% @lesson.poem.word_references.with_line(line.id).grammars.each do |word_ref| %>
                                                  <tr>                                                      
                                                      <td><%= word_ref.word %> </td><td ><span dir="rtl" style="float:right;"> <%= word_ref.description %></span></td>
                                                  </tr>
                                              <% end %>                        
                                          </table>            
                                            
                                        </div>                                        
                                      <% end %>
                                      <% if @lesson.poem.word_references.with_line(line.id).words.length > 0 %>
                                        <div class="tab-pane" id="tabwords<%= "#{index}"%>" dir="rtl" lang="ar">
                                          <table class="table table-condensed" dir="rtl" >                    
                                              <% @lesson.poem.word_references.with_line(line.id).words.each do |word_ref| %>
                                                  <tr>                                                      
                                                      <td><%= word_ref.word %> </td>
                                                      <td><span dir="rtl" style="float:right;"> <%= word_ref.description %></span></td>
                                                  </tr>
                                              <% end %>                        
                                          </table>            
                                            
                                        </div>                                        
                                      <% end %>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            
                          </div>
                          
                        <% end %>  
                    </td>
                    <td class="">
                      <div class="pull-left">
                        
                      </div>
                    </td>
                  </tr>                          
                
              <% end %>
              </table>
            </div><br>
              
          </div><br>
      <% end %>            
    <% end %>
</section>