
<header class="main-header">
    <div class="container">
        <h1 class="page-title">دروس-Lessons</h1>

    <% if current_user &&  current_user.has_role?(["lecturer", "admin"]) %>
        <%= link_to 'Add Lesson-إضافة درس', new_elearn_lesson_path, :class => "btn btn-danger pull-right" %>
    <% end %>
        
    </div>
</header>
<div class="container">

    <% if current_user &&  !current_user.has_role?(["student"]) %>
    <!--     <h4>*This is only Preview, Please "SIGN IN" for Full View Setting.</h4> -->
    <% end %>

    <div class="row">

        <div class="col-xs-12">
    
            <% @lessons.each do |lesson| %>
                <article class="post animated fadeInDown animation-delay-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="post-title">                                
                                <a href="<%= elearn_lesson_path(lesson) %>" class="transicion">
                                    <%= lesson.name %> &nbsp;
                                                   
                                <span class="pull-right" dir="rtl" lang="ar"><%= lesson.title %></span>
                                </a>             
                            </h3>
                            
                                <div  dir="rtl" >
                                    <table class="table table-striped">
                                        <tr>
                                            <% if lesson.poem %>
                                                <td min-width="20%">                                                    
                                                    <h4><%= lesson.poem.title %></h4>
                                                </td>
                                            <% end %>
                                            <% if lesson.poet %>
                                                <td>                                                
                                                    <h4><%= lesson.poet.name %></h4>
                                                
                                                </td>
                                            <% end %>                                            
                                        </tr>
                                        <tr>
                                            
                                            
                                            <td style="vertical-align: middle;" colspan="100%">
                                                <% if lesson.content %>
                                                
                                                    <div class="readmore" dir="rtl" >
                                                        <%= lesson.content.html_safe %>
                                                    </div>                                                
                                                
                                            <% end %>
                                                <div class="pull-left">
                                                <% if current_user &&  current_user.has_role?(["lecturer", "admin"]) %>
                                                    <%= link_to 'Delete', [:elearn, lesson], method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-ar btn-danger pull- btn-xs" %>
                                                    <%= link_to 'Edit-تعديل', edit_elearn_lesson_path(lesson) , class: "btn btn-ar btn-warning pull- btn-xs" %>
                                                <% end %>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-lg-10 col-md-9 col-sm-4">
                                    <i class="fa fa-clock-o"></i> <%= lesson.updated_at%> 
                                    <% if lesson.poet%>
                                    <i class="fa fa-user"> </i> 
                                    <a href="#"><%= lesson.poet.name%></a> 
                                    <% end %>
                                    
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-4">
                                    <% if current_user %>                                      
                                        <%= link_to [:elearn , lesson] , class: "pull-right" do %> Show &raquo;<% end %>
                                    <% else %>                        
                                        <%= link_to "show_preview_lesson/#{lesson.id}", class: " pull-right" do %>Show &raquo;<% end %>
                                    <% end %>  
                                </div>
                            </div>
                        </div>
                    </div>
                </article>                
            <% end %>
                
            
            <section>
                <%%>
            </section>
        </div> <!-- col-md-8 -->

    </div> <!-- row -->
</div>
