
<header class="main-header">
    <div class="container">
        <h1 class="page-title">Add New Lesson</h1>      
    </div>
</header>

<div class="container">
  <section class="css-section">
    <h2 class="section-title no-margin-top">Add New Lesson For Students</h2>
    <%= render "form"%>
  </section>


</div>
