<header class="main-header">
    <div class="container">
        
        <span class="pull">
            <% if current_user %>
            <%= link_to 'Back-رجوع', elearn_lessons_path, :class => "btn btn-danger " %>
            <% else %>
                <%= link_to 'Home-صفحة رئيسة', root_path, :class => "btn btn-danger " %>
            <% end %>
        </span>
        <!--<h1 class="page-title"> </h1>

       <ol class="breadcrumb pull-right">
            <li><a href="#">Main</a></li>
            <li><a href="#">Lessons-دروس</a></li>
            <li class="active"><%= @lesson.name %></li>
        </ol> -->

        <h1 class="page-title pull-right"><%= "#{@lesson.title}" if @lesson.title %></h1><br>
        <h4 class="page-title pull-right"><font size="4"><%= "#{@lesson.name}" %></font></h4>
        
    </div>
</header>
<div class="container">
    <div class="row">
        <% if @lesson.poet %>
            <div class="
            <% if @lesson.poem %>
            col-md-4
            <% else %>
            col-md-12
            <% end %>
            ">
                <aside class="sidebar">
                    
                    <%= render "elearn/lessons/poet"%>
                    
                </aside> <!-- Sidebar -->
            </div>
        <% end %>

        <div class="
            <% if @lesson.poet && @lesson.poem %>
                col-md-8
            <% else %>
                col-md-12
            <% end %>">
            <% if @lesson.poem %>
                <%= render "elearn/lessons/poem"%>
            <% end %>
            <% if @lesson.content != "" %>

                <section>
                    <div class="panel panel-default">
                        <div class="panel-body">
                                <%= raw @lesson.content %>
                        </div>
                    </div>                    
                </section>
                
            <% end %>
            <% if current_user %>
                 <h2 class="section-title">
                    <div class="row">
                        <div class="col-md-8">
                            Comments 
                        </div>
                        <div class="col-md-4" style="font-size:15px">
                            <% if current_user.has_role?(["admin" , "lecturer"])%>
                                <%= collection_select(:semester, :semester_id, Semester.all, :id, :name, 
                                {
                                    :prompt => "Show comments in semester",selected: Semester.currently_activated.id
                                }, 
                                {
                                    :class => "form-control" , 
                                    :id => "select_semester" , 
                                    "data-lesson-id" => @lesson.id
                                } )%>
                            <% end %>
                        </div>

                    </div>
                </h2>
                <%= render  "elearn/comments/comments" %>              
                <%= render  "elearn/comments/new_comment" %>     
            <% end %>
            <br /><br />
        </div>
    </div>
</div>
<% content_for :header do %> 
  <%= javascript_include_tag 'lesson' %>
<% end %>


