
<div class="navbar transparent navbar-inverse navbar-fixed-top" style="background-color: #FFD700; /* gold */
      color: #8B4513; font-size: 15px">
      <div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <%= link_to root_path, :class => "brand"  do %>                    
            <%= image_tag("logo.png" , :width => "80px")%>
        <% end %>
        <div class="nav-collapse collapse">
            <ul class="nav pull-right">
                <li><%= link_to "صفحة رئيسة-Home" , home_path%></li>            
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Lessons (Preview)<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Lessons-دروس", lessons_preview_path%></li>                    
                    </ul>
                  </li>          
                
                <li><%= link_to "Sign In" , new_user_session_path%></li>
                <li><%= link_to "Register" , new_user_registration_path%></li>              
            </ul>
        </div>
    </div>
  </div>
</div>

