
<div class="navbar transparent navbar-inverse navbar-fixed-top" style="background-color: #FFD700; /* gold */
      color: #8B4513; font-size:15px ">
      <div class="navbar-inner" >
    <div class="container" >
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <%= link_to root_path, :class => "brand"  do %>        
            <!-- <img src="e-diwan/app/assets/images/logo.png"> -->
            <%= image_tag("logo.png" , :width => "100px")%>
        <% end %>
        <div class="nav-collapse collapse" style="padding-top: 25px">
            
                <% if devise_controller? || controller_name == "home" %>                
                    <%= render "layouts/home_top_menu"%>
                <% else %>
                    <ul class="nav pull-right">
                        <li><%= link_to "صفحة رئيسة- Home" , home_index_path%></li>            
                        <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                  دروس-Lessons <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                  <li><%= link_to "دروس - Lessons", elearn_lessons_path%></li>
                                  <li><%= link_to "أشعار-Poems", poems_path%></li>
                                  
                                  <li><%= link_to "Grammar", grammars_path %></li> 
                                  <li><%= link_to "Balaghah", balaghahs_path %></li>  
                                </ul>
                              </li>          
                        <% if !current_user %>
                            <li><%= link_to "Sign In" , new_user_session_path%></li>
                            <li><%= link_to "Register" , new_user_registration_path%></li>  
                        <% else %>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                  <%= current_user.email %><b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                  <!-- <li><%= link_to "Details", root_path%></li> -->
                                  <li><%= link_to "Log Out" , destroy_user_session_path , :method => 'delete'%></li> 
                                </ul>
                              </li>      
                            <!-- <li><%= link_to "Log Out" , destroy_user_session_path , :method => 'delete'%></li>
                            <li>Hi <%= current_user.email %></li> -->
                        <% end  %>
                    </ul>
                <% end %>                 
            
        </div>
        
    </div>
  </div>
</div>

