
<div class="navbar transparent navbar-inverse navbar-fixed-top" style="background-color: #FFD700; /* gold */
      color: #8B4513; font-size: 15px">
      <div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <%= link_to root_path, :class => "brand"  do %>                    
            <%= image_tag("logo.png" , :width => "80px")%>
        <% end %>
        <div class="nav-collapse collapse">
            <ul class="nav pull-right">
                <li><%= link_to "صفحة رئيسة-Home" , home_path%></li>            
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    E-Learning <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Lessons-دروس", elearn_lessons_path%></li>                    
                  </ul>
                </li>                                  
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Modules <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">                    
                    <li><%= link_to "Poems-أشعار", poems_path%></li>
                    <li><%= link_to "Poets-شعراء", poets_path %></li> 
                    <li><%= link_to "Glossary-مصطلحات", glossary_path %></li> 
                  </ul>
                </li>            
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Admin <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><%= link_to "Users" , admin_users_path %></li>
                        <li><%= link_to "Sessions", elearn_semesters_path%></li>
                    </ul>
                </li>          
                

                    
                <li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <%= current_user.email %> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                          <li><%= link_to "Account" , account_path %></li> 
                          <li><%= link_to "Log Out" , destroy_user_session_path , :method => 'delete'%></li>                          
                        </ul>
                    </li>     
                    
                </li>
                
                
            </ul>
        </div>
    </div>
  </div>
</div>

