<div class="nav-collapse collapse">
           
                    <ul class="nav pull-right">
                        <li><%= link_to "صفحة رئيسة-Home" , home_index_path%></li>            
                        <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                  Lessons-دروس <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                <li><%= link_to "شعراء-Poets", poets_path %></li>
                                  <li><%= link_to "أشعار-Poems", poems_path%></li>
                                  
                                  <li><%= link_to "Grammar", grammars_path %></li> 
                                  <li><%= link_to "Balaghah", balaghahs_path %></li>  
                                </ul>
                              </li>          
                        <li><%= link_to "فيديو-Video" , videos_path%></li>
                        <li><%= link_to "صوت-Audio" , audios_path %></li>
                        <div class="vertical-divider"></div>
                        <% if !current_user %>
                            <li><%= link_to "Sign In" , new_user_session_path%></li>
                            <li><%= link_to "Register" , new_user_registration_path%></li>  
                        <% else %>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                  <%= current_user.email %><b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                  <!-- <li><%= link_to "Details", root_path%></li> -->
                                  <li><%= link_to "Log Out" , destroy_user_session_path , :method => 'delete'%></li> 
                                </ul>
                              </li>
                            <% end  %>    
                    </ul>        
            
        </div>