<!DOCTYPE html>
<html>
<head>
  <title>E-Diwan</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <%= yield :header %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' />
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
</head>
<body >
  
    <% if current_user && current_user.has_role?(["admin"]) %>
      <%= render "layouts/header_admin" %>
    <% elsif current_user %>
      <%= render "layouts/header_logged_in" %>
    <% else %>
      <%= render "layouts/header_home" %>
    <% end %>
    <div class="container">
      <% if notice %>
        <div class="alert alert-success">
          <%= notice %>
        </div>
      <% elsif alert %>  
        <div class="alert alert-danger">
          <%= alert %>
        </div>
      <% end %>

      <%= yield %>
    </div>
    </div>
    
    <!-- starts footer -->
    <footer id="footer">
      <%= render "layouts/footer"%>
    </footer>
    <%= render "layouts/modal" %>

</body>
</html>
