<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= csrf_meta_tags %>
    
    <title>E-Diwan</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">


    <meta name="description" content="">

    
    <%= stylesheet_link_tag    'artificial', media: 'all'%>
    <%= javascript_include_tag 'artificial'%>
    <%= yield :header %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<!-- Preloader -->
<!-- <div id="preloader">
    <div id="status">&nbsp;</div>
</div>
 -->
<body>

<div class="sb-site-container">
<div class="boxed">
    <%= render "layouts/artificial/header"%>
    <%= render "layouts/artificial/navigation"%>

    <!-- Put container inside the yield-->
    <!-- <div class="container"> -->
        <%= yield %>
    <!-- </div> -->
    <%= render "layouts/artificial/footer"%>

</div> <!-- boxed -->
</div> <!-- sb-site -->

<%= render "layouts/artificial/modal" %>
</body>

</html>
