<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= csrf_meta_tags %>

    <title>E-Diwan</title>

    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <meta name="description" content="">

    <%= stylesheet_link_tag    'artificial', media: 'all'%>
    <%= javascript_include_tag 'artificial'%>

    <%= yield :header %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<!-- Preloader -->
<!-- <div id="preloader">
    <div id="status">&nbsp;</div>
</div>
 -->
<body>

<div class="sb-site-container">
<div class="boxed">

<%= render "layouts/artificial/header"%>
<%= render "layouts/artificial/navigation"%>

<header id="header-full-plan">    
    <%= yield%>
</header>
<!-- 
<section class="wrap-dark-color margin-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-7 feature-container">
                    <a class="feature-icon">
                        <i class="fa fa-desktop"></i>
                        <h4>Retina</h4>
                    </a>
                    <a class="feature-icon">
                        <i class="fa fa-download"></i>
                        <h4>Downloads</h4>
                    </a>
                    <a class="feature-icon">
                        <i class="fa fa-cloud"></i>
                        <h4>Cloud</h4>
                    </a>
                    <a class="feature-icon">
                        <i class="fa fa-html5"></i>
                        <h4>HTML 5</h4>
                    </a>
                </div>
                <div class="col-md-5 hidden-sm hidden-xs">
                    <p class="lead text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </section> -->

    
<%= render "layouts/artificial/footer" %>
<%= render "layouts/artificial/modal" %>
</div> <!-- boxed -->
</div> <!-- sb-site -->

</body>

</html>
